<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.mapper.EmployeeMapper">
    <!--
    namespace:名称空间;指定为接口的全类名
    id：唯一标识
    resultType：返回值类型
    #{id}：从传递过来的参数中取出id值

    public Employee getEmpById(Integer id);
     -->
    <select id="getEmpById"  resultType="com.zhang.bean.Employee">
		select id,last_name as lastName,email,gender from tbl_employee where id = #{id}
	</select>
    <select id="getId" resultType="employee" databaseId="mysql">
		select id,last_name,email,gender  from tbl_employee
		 where id = #{id}
	</select>
    <select id="getId" resultType="employee" databaseId="oracle">
		select id,last_name,email,gender  from tbl_employee
		 where id = #{id}
	</select>

    <!--void insertEmployee(Employee employee);
    //update
    void updateEmployee(Employee employee);
    //delete
    void deleteEmployee(Employee employee);-->

    <insert id="insertEmployee" parameterType="com.zhang.bean.Employee" useGeneratedKeys="true" keyProperty="id" >
        insert into tbl_employee(last_name,email,gender) values (#{lastName},#{email},#{gender})

    </insert>

    <update id="updateEmployee">
        update tbl_employee set last_name=#{lastName},email=#{email},gender=#{gender} where id=#{id}

    </update>

    <delete id="deleteEmployee">
        delete from tbl_employee where id=#{id}
    </delete>
</mapper>